###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################


menu "Mango M-3 Board Sample Chapter MStory2.0"
    source "StudyProject/MStory2.0/MANGO-M3/Kconfig"
endmenu

menu "Mango Z-1 Board Sample Chapter MStroy2.0"
    source "StudyProject/MStory2.0/MANGO-Z1/Kconfig"
endmenu

###############################################################################