###############################################################################
# SPDX-License-Identifier: GPL-3.0-or-later
###############################################################################

config ESP_12E
 bool "ESP8266-12E Test"
 default n


###############################################################################